<%- include('./header') -%>






<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">

            <table class="table table-hover">

                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>

                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <script>
                        const selectedItemArray = JSON.parse(sessionStorage.getItem('selectedItem'));

                        for (var i = 0; i < selectedItemArray.length; i++) {
                            document.write('<tr id="itemRow">');
                            document.write('<td class="col-sm-8 col-md-6 namecoloum">');;
                            document.write(' <div class="media">');
                            document.write(' <img class="media-object" src="selectedItemArray[i].img" >')
                            document.write('<div class="media-body">');
                            document.write('  <h4 class="media-heading">' + selectedItemArray[i].name + '</h4> ');
                            document.write('<h5 class="media-heading">' + selectedItemArray[i].lense + '  </h5>');
                            document.write('</div>')
                            document.write('</div>')
                            document.write('</td>')
                            document.write(' <td class="col-sm-1 col-md-1 quantitycoloum" style="text-align: center">');
                            document.write('<input type="number" class="form-control value" onchange="quantityTotal()"id="exampleInputEmail1" value="1">');
                            document.write('</td>')
                            document.write('<td class="col-sm-1 col-md-1 text-center singleprice"><strong id="price">' + selectedItemArray[i].price + '</strong></td>')
                            document.write(' <td class="col-sm-1 col-md-1 text-center Totalprice"><strong id="quantityTotal"> </strong></td>');
                            function quantityTotal() {
                                let inputValue = document.getElementById('exampleInputEmail1');
                                let itemPrice = document.getElementById('price');
                               let quantitySum = inputValue.value * itemPrice.value;
                                document.getElementById('quantityTotal').innerHTML = quantitySum;
                            };
                            document.write(' <td class="col-sm-1 col-md-1">')
                                document.write('<button type="button" class="btn btn-danger" onclick="deletRow(\'' + selectedItemArray[i].name +'\')"  ><span class="glyphicon glyphicon-remove"></span> Remove </button></td>')
                                document.write('</tr>')
                            
                                function deletRow(productName){
                          let itemRow = document.getElementById(itemRow);
                          itemRow.remove();
                        }

                        }
                        
                       
                    </script>
      
      <tr>
        <td>   </td>
        <td>   </td>
        <td>   </td>
        <td><h3>Total</h3></td>
        <td class="text-right"><h3><strong id="total"></strong></h3></td>
    </tr>
    <tr>
        <td>   </td>
        <td>   </td>
        <td>   </td>
        <td>
        <button type="button" class="btn btn-outline-info btn-lg ">
            <span class="glyphicon glyphicon-shopping-cart">Continue Shopping</span> 
        </button></td>
        <td>
        <button type="button" class="btn btn-outline-info btn-lg ">
           <span class="glyphicon glyphicon-play">Checkout </span>
        </button></td>
    </tr>

    </tbody>
    </table>
</div>
</div>
</div>






<%- include('./footer') -%>
