<%- include('./header') -%>

<div class="container-fluid  ">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="table-responsive-sm">
            <table  class="table table-striped  layout  " id="table">

                <thead class=" thead-dark">
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>

                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>

                    <script>
                        //get the data from session storage -------------------------------------------------
                        const selectedItemArray = JSON.parse(sessionStorage.getItem('selectedItem'));
                        //final total-------------------------------------
                                            let totalId=0 ;
                                            //display selected item -------------------------------------
                        for (var i = 0; i < selectedItemArray.length; i++) {
                           
                            let id =selectedItemArray[i].itemId;
                           
                            document.write('<tr id="itemRow">');
                            document.write('<td class="col-sm-8 col-md-6 namecoloum">');;
                            document.write(' <div class="media">');

                            document.write(` <img class="media-object" src="${selectedItemArray[i].img}"  width="50" height="50">`)
                            document.write('<div class="media-body">');
                            document.write('  <h4 class="media-heading">' + selectedItemArray[i].name + '</h4> ');
                            document.write('<h5 class="media-heading">' + selectedItemArray[i].lense + '  </h5>');
                            document.write('</div>');
                            document.write('</div>');
                            document.write('</td>');
                            document.write(' <td class="col-sm-1 col-md-1 quantitycoloum" style="text-align: center">');
                            document.write('<strong>' + selectedItemArray[i].quantity + '</strong>');
                            document.write('</td>')
                            document.write('<td class="col-sm-1 col-md-1 text-center singleprice"><strong >' + selectedItemArray[i].price + '</strong> </td>');
                            document.write(' <td class="col-sm-1 col-md-1 text-center totalPrice"><strong ">' + selectedItemArray[i].quantityTotal + '</strong></td>');
                            document.write(' <td class="col-sm-1 col-md-1">')
                            document.write('<button type="button" class="btn btn-danger" onclick="deletRow(this,\'' + selectedItemArray[i].name, selectedItemArray[i].lense + '\')"  ><span class="glyphicon glyphicon-remove">Remove</span>  </button></td>');
                            document.write('</tr>');
                            //delete the item---------------------------------------------------------------------
                            function deletRow(row, item) {
                                //delete from row-------------------------------------------------------------
                                var i = row.parentNode.parentNode.rowIndex;
                                document.getElementById("table").deleteRow(i);
                                // delete from sessionStorage---------------------------------------------------
                                let existingProduct = JSON.parse(sessionStorage.getItem('selectedItem'));
                                for (i = 0; i < existingProduct.length; i++) {
                                    let checkItem = existingProduct[i].name + existingProduct[i].lense;
                                    if (item === checkItem) {
                                        existingProduct.splice(i, 1);
                                        sessionStorage.setItem('selectedItem', JSON.stringify(existingProduct));
                                    }
                                }
                            }
                            //get the  final total-----------------------------------------------------------
                           
                            totalId += selectedItemArray[i].quantityTotal;
                             }
//dispay total ----------------------------------------------------------------------------------------
                            document.write('<tr>');
                            document.write(' <td> </td>');
                            document.write(' <td> </td>');
                            document.write('<td> </td>');
                            document.write(' <td>');
                            document.write('  <h3>Total</h3>');
                            document.write(' </td>');
                            document.write(' <td class="text-right"> ');
                            document.write(' <h3><strong id="fullTotal"></strong></h3>');
                            document.write(' </td>');
                            document.write(' </tr>');
                            document.getElementById("fullTotal").innerHTML =totalId ;
 </script>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>
                            <button type="button" class="btn btn-outline-info btn-lg ">
                                <span class="glyphicon glyphicon-shopping-cart"> <a href="/"> Shopping</a></span>
                            </button></td>
                        <td>
                            <button type="button" class="btn btn-outline-info btn-lg ">
                                <span class="glyphicon glyphicon-play"><a href="/checkoutpage">Checkout</a> </span>
                            </button></td>

                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>




<%- include('./footer') -%>