<%- include('./header') -%>

<div class="container">
  <div class="py-5 text-center">
    
    <h2>Checkout form</h2>
    <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
       
      </h4>
      <div id="demo">
      <script>
      //get item from session -----------------------------------------------------
       const finalItem = JSON.parse(sessionStorage.getItem('selectedItem'));
       let totalId=0 ;
      //display cart item in ul ---------------------------------------------------------------
       let listProduct = ' <ul class="list-group mb-3">';
  for (let i = 0; i < finalItem.length; i++) {
       listProduct += '<li class="list-group-item d-flex justify-content-between ">' 
       +  '<div>'
       + '<h6 class="my-0">' + finalItem[i].name + '<h6>' +
       ' <small class="text-muted">'+ finalItem[i].lense + '</small>'
        +'</div> '
       +' <span class="text-muted">'+'£'+finalItem[i].quantityTotal +'</span>'
        + '</li>'
        //totalprice ----------------------------------------------------------------------------
        totalId +=finalItem[i].quantityTotal;
      }
      listProduct += ' </ul >';
      document.getElementById('demo').innerHTML = listProduct;
      //total price --------------------------------------------------------------
      document.write('<ul class="list-group mb-1" >');
      document.write(' <li class="list-group-item d-flex justify-content-between" >');
        document.write( ' <span >Total </span>');
        document.write( '<strong id="total"></strong>');
        document.write(' </li>');
        document.write('</ul  >');
      
      document.getElementById("total").innerHTML = '£'+totalId ;
      
    </script>
     </div>
      </div>
      <div class="col-md-8 order-md-1">
      <form class="needs-validation" novalidate action="/checkoutpage" method="post" >
    
    
      <h4 class="mb-3">Billing address</h4>
      
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control"  name="firstName"   id="firstName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid first name is required.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control"    name="lastName"   id="lastName" placeholder="" value="" required>
            <div class="invalid-feedback">
              Valid last name is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email </label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com" required>
          <div class="invalid-feedback">
            Please enter a valid email address for shipping updates.
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control"  name="address"  id="address" placeholder="1234 Main St" required>
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="mb-3">
          <label for="address2">Address 2 </label>
          <input type="text" class="form-control"  name="address2"  id="address2" placeholder="Apartment or suite">
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <select class="custom-select d-block w-100" name="country"    id="country" required>
              <option value="">Choose...</option>
              <option>United Kingdom</option>
              <option>Srilanka</option>
              <option>United States</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          
          <div class="col-md-3 mb-3">
            <label for="zip">Post Code</label>
            <input type="text" class="form-control"  name="postCode"  id="zip" placeholder="" required>
            <div class="invalid-feedback">
              Post Code  required.
            </div>
          </div>
        </div>
        
        <hr class="mb-4">

        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="credit">Credit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="debit">Debit card</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="paypal">PayPal</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Name on card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required>
            <small class="text-muted">Full name as displayed on card</small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control" name="cardNumber" id="cc-number" placeholder="" required>
            <div class="invalid-feedback">
              Credit card number is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">Expiration</label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">CVV</label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
            <div class="invalid-feedback">
              Security code required
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button  name="button"  type="submit"class="btn btn-primary margin" data-toggle="modal" onclick="postItem()" data-target="#exampleModalLong">Continue to checkout</button>
      <script>
        //check valuvation---------------------------------------------------------
        (function() {
'use strict';
window.addEventListener('load', function() {
// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.getElementsByClassName('needs-validation');
// Loop over them and prevent submission
var validation = Array.prototype.filter.call(forms, function(form) {
form.addEventListener('submit', function(event) {
if (form.checkValidity() === false) {
event.preventDefault();
event.stopPropagation();
}
form.classList.add('was-validated');
}, false);
});
}, false);
})();

//------------------------------------------------------------------------------------------------------------
//post 
//on click function for button-----------------------------------------
function postItem(){
  //contact infrom about user----------------------------------------------------------------------------
  const userInform = {
firstName :document.getElementById('firstName').value ,
lastName :document.getElementById('lastName').value,
address :document.getElementById('address').value,
city:document.getElementById('address2').value,
email:document.getElementById('email').value
};

//product detail from session storage -------------------------------------------------------------
const finalItem = JSON.parse(sessionStorage.getItem('selectedItem'));
let productId ;
for (var i = 0; i < finalItem.length; i++) {
productId = finalItem[i].itemId;

};

let postData = {contact:userInform,products:[productId]};

//call for the responce----------------------------------------------------------------------------
submitForm(postData);

};
//post request---------------------------------------------------------------------------------------------
function makeRequest(data) {
  
  return new Promise((resolve, reject) => {
    let request = new XMLHttpRequest();
    const url ="http://localhost:3000/api/cameras";
    request.open('POST', url +'/order');
    request.onreadystatechange = () => {
      if (request.readyState === 4) {
        if (request.status === 201) {
          resolve(JSON.parse(request.response));
        
        } else {
          reject(JSON.parse(request.response));
        }
      }
    };
    request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

    request.send(JSON.stringify(data)); 
    
  });
 
};
//get back data from backend-----------------------------------------------------------------------------------
async function submitForm(data){
 
  try{
    const requestPromise = makeRequest(data);
    
    const response = await requestPromise;
    
   let order = document.getElementById('order');
   
  //thank you messege -------------------------------------------------------------------------
   document.getElementById('order').innerHTML= "Order Id:" + response.orderId ;
   document.getElementById('fName').innerHTML= response.contact.firstName ;
   document.getElementById('lName').innerHTML=  response.contact.lastName;
   document.getElementById('add').innerHTML=  response.contact.address ;
   document.getElementById('add2').innerHTML= response.contact.city ;
   document.getElementById('e-mail').innerHTML=  response.contact.email ;
}catch(errorResponse){

  }
};

</script>
      </form>

    </div>
  </div>



  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title text-success text-center " id="exampleModalLongTitle">Thank You for Your Order!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="jumbotron">
          <h2 id="order"> </h3>
          <h5 class="font-weight-bolder" id="fName"></h5>
          <h5 class="font-weight-bolder" id="lName"></h5>
          <h5 class="font-weight-bolder" id="add"></h5>
          <h5 class="font-weight-bolder" id="add2"></h5>
          <h5  class="font-weight-bolder" id="e-mail"></h5>
        
</div>
          </div>  
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-outline-info btn-lg"><a href="/"> Shopping Again</a></button>
        </div>
      </div>
    </div>
  </div>

  

<%- include('./footer') -%>